body
{
    font-family: sans;
}

.container
{
    margin-left: 0px;
    margin-right: auto;
}

#recherche
{
    position: absolute;
    margin-left: 1px;
    margin-top: 1px;
    width: 200px;
    height : 32px;
}

.table.table-hover
{
    margin-left: 0px;
}

#tableau
{
    position: absolute;
    list-style: none;
    padding-left: 0px;
    margin-left: 1px;
    margin-top: 37px;
    border: 0px solid #aaa;
    width: 302px;
}

#numero 
{
    padding-left: 40px;
}

#suggestions li
{
    margin: .2em;
}

#suggestions li:hover
{
    background-color: #eee;
}


