body
{
    font-family: sans;
}

#recherche
{
    position: absolute;
    margin-left: 106px;
    margin-top: 2px;
    width: 300px;
    height : 32px;
}

#suggestions
{
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #aaa;
    width: 302px;
}

#suggestions li
{
    margin: .2em;
}

#suggestions li:hover
{
    background-color: #eee;
}